button {
	background-color: #222;
	border: none;
	color: #eee;
	cursor: pointer;
	float: right;
	padding: 5px 10px;
	border-radius: 3px;
	transition: background-color 0.1s;
}

button:hover {
	background-color: #555;
}

.cart-button-container {
	margin-left: auto;
}

#product-list {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-gap: 20px;
}

/* Style the product item container */
.product-item {
	width: 100%; /* Full width by default */
	max-width: 300px; /* Limit the maximum width of each item */
	margin: 0 auto; /* Center the item within its container */
	display: inline-block; /* Display items in a row */
	text-align: center; /* Center the contents */
}

/* Style the image within the product item */
.product-item img {
	width: 100%; /* Make the image fill the container */
	height: auto; /* Maintain aspect ratio */
	max-height: 200px; /* Limit the maximum height of the image */
	object-fit: cover; /* Ensure the image covers the container */
}

/* Adjust the product item layout for larger screens */
@media screen and (min-width: 768px) {
	.product-item {
		max-width: calc(100% / 5); /* Limit to 6 items per row */
		margin: 0; /* Remove horizontal margin */
	}
}

/* Define a grid layout for the product cards */

/* Style the product card */
.product-card {
	background-color: black;
	border: 1px solid black;
	min-height: 100px;
	min-width: 100px;
	padding: 10px;
}

/* Style the image within the product card */
.product-card img {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: cover;
}

/* Style the product popup overlay */
.product-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

/* Style the product popup container */
.product-popup-container {
	position: relative;
	max-width: 90%;
	max-height: 90%;
}

/* Style the product popup image */
.product-popup-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

/* Style the product popup navigation arrows */
.product-popup-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 999;
}

.product-popup-arrow.left {
	left: 20px;
}

.product-popup-arrow.right {
	right: 20px;
}
